@import '../../../node_modules/compass-mixins/lib/compass';
@import '../../../node_modules/mathsass/dist/math';
//vars
$fg:rgba(6,12,32);
$bg:rgba(6,12,32);
$pi:3.14;

//config
$menu-items:5;
$open-distance:115px;
$opening-angle:$pi - .2;

.moverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     z-index:100
}


%goo{
  filter:url('#shadowed-goo');
  // debug 
  // background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:64px;
  height:64px;
  margin-left:-20px;
  position:absolute;
//   top:20px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
  font-size: 16px;

  position: absolute;
}
.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:calc(-1 * $width / 2);
  margin-top:calc(-1 * $height / 2);
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg); 
  }
}
.menu{
  @extend %goo;
  $width:64px;
  $height:64px;
  position:relative;
//   left:50%;
  margin-left:calc(-1 * $width / 2);
//   padding-top:20px;
//   padding-left:$width/2;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
  z-index: 200;
}


.menu-item{
    transition: 500ms;
    .text {
          transition: 250ms;
        position: absolute;
        top:50%;
        transform:translate3d(0,-50%,0);
        left:-110%;
        right: 0;
        background-color: $fg;
        border-radius: 8px;
        width: 64px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        // transition: 100ms;
    }
  &:hover{
    background: rgba(16,32,128);
    // color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}



.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
    
  transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(80ms*$i);
      transform:translate3d(0,(70px*$i),0);
    }
  }
}


.menu-open:not(:checked)~.menu-item {
    .text {
        font-size: 0px;
        left:0;
        right: 0;
        width: 0;
        height: 0;
    }
}