<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sponsor.css"/>
</head>
<body>
    <div>
        <div class="navDesign" style="text-align: center; color: white;"><h>Navbar</h></div>
        <div class="container">
            <div class="diamond">
                <h1 class="heading1">Our Diamond Sponsors</h1>
                <div class="box1">
                    <a href="https://www.alcheringa.in/">
                        <img src="pictures/alcheringa-removebg-preview.png" target="_blank">
                        <!--<h3>Alcheringa</h3>-->
                    </a>
                </div>
                <div class="box1">
                    <a href="https://codingblocks.com/" target="_blank">
                        <img src="./pictures/codingblocks-removebg-preview.png">
                       <!-- <h3>Coding Blocks</h3>-->
                    </a>
                </div>
            </div>
            <div class="platinum">
                <h1 class="heading1">Our Platinum Sponsors</h1>
                <div class="box2">
                    <a href="https://devfolio.co/" target="_blank">
                        <img src="pictures/devfolio-removebg-preview.png">
                        <!--<h3>Devfolio</h3>-->
                    </a>
                </div>
                <div class="box2">
                    <a href="" target="_blank">
                        <img src="pictures/ed-removebg-preview (1).png">
                        <!--<h3>ED</h3>-->
                    </a>
                </div>
                <div class="box2">
                    <a href="https://www.finlatics.com/" target="_blank">
                        <img src="pictures/finalitics-removebg-preview.png">
                        <!--<h3>Finlatics</h3>-->
                    </a>
                </div>
            </div>
            <div class="gold">
                <h1 class="heading1">Our Gold Sponsors</h1>
                <div class="box3">
                    <a href="http://www.inmovidutech.com/" target="_blank">
                        <img src="pictures/inmovidu-removebg-preview.png">
                        <!--<h3>Inmovidu</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="" target="_blank">
                        <img src="pictures/kkbrothers-removebg-preview.png">
                       <!-- <h3>KK Brothers</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://learningwhiletravelling.com/home" target="_blank">
                        <img src="pictures/learning-while-travelling-removebg-preview.png">
                       <!-- <h3>Learning While Travelling</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://licindia.in/" target="_blank">
                        <img src="pictures/lic-removebg-preview.png">
                       <!-- <h3>LIC</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://www.onfinance.ai/" target="_blank">
                        <img src="pictures/onfinance-removebg-preview.png">
                        <!--<h3>Onfinance</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="" target="_blank">
                        <img src="pictures/prepbytes-removebg-preview.png">
                       <!-- <h3>PB</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://polygon.technology/" target="_blank">
                        <img src="pictures/polygon-removebg-preview.png">
                        <!--<h3>Polygon</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://replit.com/" target="_blank">
                        <img src="pictures/replit__2_-removebg-preview.png">
                        <!--<h3>Replit</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://www.onlinesbi.sbi/" target="_blank">
                        <img src="pictures/sbi-removebg-preview.png">
                        <!--<h3>SBI</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://stockgro.club/" target="_blank">
                        <img src="pictures/syockgro-removebg-preview.png">
                        <!--<h3>StockGro</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://www.ucobank.com/" target="_blank">
                        <img src="pictures/uco_bank-removebg-preview (1).png">
                       <!-- <h3>UCO Bank</h3>-->
                    </a>
                </div>
                <div class="box3">
                    <a href="https://unstop.com/" target="_blank">
                        <img src="pictures/unstop-removebg-preview (1).png">
                        <!--<h3>Unstop</h3>-->
                    </a>
                </div>
            </div>
        </div>
        <div class="footerDesign" style="text-align: center; color: white;"><h>Footer</h></div>
    </div>
</body>
</html>
