@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif !important;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: rgb(6, 12, 32);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
