.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    // z-index: 1;
    pointer-events: none;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
        mix-blend-mode: exclusion;
    &.hovered {
        background-color: #8800ff;
        width: 40px;
        height: 40px;
    }
}

.cursor2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 0 10px #8700ff;
    // z-index: 1;
    pointer-events: none;
    transition: background-image 0.3s, width 0.3s, height 0.3s;

    &.hovered2 {
        background-image: radial-gradient(circle, transparent 20%, #ffffff);
        transform: scale(2);
        width: 60px;
        height: 60px;
    }
}
